{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
</head>

<body>

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Forgot Password</h1>
					<nav class="d-flex align-items-center">
						<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="{% url 'forgot-password' %}">Forgot Password</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Enter Your Mobile</h3>
                        {%  if msg %}
                            <b style="color: blue;">{{msg}}</b>
                        {% endif %}
						<form class="row login_form" action="{% url 'verify-otp' %}" method="post" id="contactForm" enctype="multipart/form-data">
							{% csrf_token %}
                            
                            <div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="otp" placeholder="OTP">
							</div>
                           
							
                           
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Verify OTP</button>
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
</body>

</html>
{% endblock %}