{% extends 'seller-header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
</head>

<body>

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Profile</h1>
					<nav class="d-flex align-items-center">
						<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="{% url 'profile' %}">Profile</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Edit Profile</h3>
                        {%  if msg %}
                            <b style="color: blue;">{{msg}}</b>
                        {% endif %}
						<form class="row login_form" action="{% url 'profile' %}" method="post" id="contactForm" enctype="multipart/form-data">
							{% csrf_token %}
                            <div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="fname" value="{{user.fname}}">
							</div>
                            <div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="lname" value="{{user.lname}}">
							</div>
                            <div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="email" value="{{user.email}}" readonly>
							</div>
                            <div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="mobile"  value="{{user.mobile}}">
							</div>
							<div class="col-md-12 form-group">
								<img src="{{user.profile_picture.url}}" style="width: 100px;height: 100px;border-radius: 50%;">
							</div>
							<div class="col-md-12 form-group">
								<input type="file" class="form-control" id="name" name="profile_picture">
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Update Profile</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
</body>

</html>
{% endblock %}