{% extends 'seller-header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'cart' %}">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                               
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in l %}
                            <tr>
                                
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="{{i.product.product_picture.url}}" alt="" style="width: 100px;height:100px;">
                                        </div>
                                        <div class="media-body">
                                            <p>{{i.product.product_name}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>{{i.product.product_price}}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <form method="post" action="{% url 'change-qty' pk=i.pk %}">
                                        {% csrf_token %}
                                        <input type="number" name="product_qty" id="sst" maxlength="12" value="{{i.product_qty}}" title="Quantity:"
                                            class="input-text qty" onchange="this.form.submit();" readonly>
                                        </form>
                                    </div>
                                </td>
                                <td>
                                    <h5>{{i.total_price}}</h5>
                                </td>
                            </tr>
                            {% endfor %}
                           
                           
                            
                            
                        </tbody>
                    </table>
               
                </div>
            </div>
        </div>
    </section>
</body>
</html>
{% endblock %}